# Ignore everything
*

# But not these specific files and directories
!.gitignore

!funding.yml
!license.md
!readme.md

!config/
!config/yosbr/
!config/yosbr/**

!mods
!mods/*

!resources
!resources/**

# And finally hide files and directories.

config/yosbr/options.txt